.entry-card {
  width: 50vw;

  background-color: white;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entry-card:hover {
  transition: box-shadow 0.4s;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.555),
    0 8px 28px 0 rgba(0, 0, 0, 0.582);
  cursor: pointer;
}

.card-content {
  padding: 5px;
}

.user {
  font-size: 0.8em;
  padding: 0.3em 0px;
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.body {
  font-size: 0.8em;
  padding: 0.5em 0px;
}
