.screen {
  background-color: #bababa82;

  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}
